:global body[data-theme='light'] {
  --switcher-color: var(--gray-100);
  --switcher-color-hover: var(--gray-300);
}

:global body[data-theme='dark'] {
  --switcher-color: var(--white);
  --switcher-color-hover: var(--gray-100);
}

.switcher {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.switcher span {
  color: var(--switcher-color);
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.switcher:hover span {
  color: var(--switcher-color-hover);
}

.switcher:hover svg {
  fill: var(--switcher-color-hover);
}

.icon {
  fill: var(--switcher-color);
}
