:global body[data-theme='light'] {
  --header-color: var(--gray-300);
}

:global body[data-theme='dark'] {
  --header-color: var(--white);
}

.header {
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--header-color);
  font-size: 1.75rem;
  line-height: 1.5;
  font-weight: 700;
}
